*{
    margin: 0;
}

h3{
    color: blue;
    background-color: gold;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    margin:30px;
    margin-left: 150px;
    padding: 5px;
    border: 2px solid silver;
    
}

div{
    background-color: aquamarine;
    text-align: center;
    color: maroon;
    font-size: 26px;


}

#Choto{
    background-color: blue;
    color: white;
}

ul{
    font-size: 30px;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    background-color: lightblue;
    color: blueviolet;
}

ol{
    font-size: 40px;
    margin: auto;
    border: 5px solid green;
    padding: 10px;
}
.movie{
    color: white;

}

.luka{
background-color: black;
color: white;
text-align: justify;
margin: 30px;
border: 5px solid magenta;
padding: 10px;
border-radius: 8px;
}